<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver android:name="app.tauri.notification.TimedNotificationPublisher" android:exported="true" />
        <receiver android:name="app.tauri.notification.NotificationDismissReceiver" android:exported="false" />
        <receiver
            android:name="app.tauri.notification.LocalNotificationRestoreReceiver"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name="app.tauri.notification.TauriFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="app.tauri.notification.TauriUnifiedPushMessagingService"
            android:exported="true"
            android:enabled="${unifiedPushReceiverEnabled}">
            <intent-filter>
                <action android:name="org.unifiedpush.android.connector.MESSAGE"/>
                <action android:name="org.unifiedpush.android.connector.UNREGISTERED"/>
                <action android:name="org.unifiedpush.android.connector.NEW_ENDPOINT"/>
                <action android:name="org.unifiedpush.android.connector.REGISTRATION_FAILED" />
                <action android:name="org.unifiedpush.android.connector.TEMP_UNAVAILABLE" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
</manifest>